@page
@model webpagelm.Pages.BlogModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
            <h4>
                Notícias do consignado
            </h4>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p>
                Aqui você fica por dentro das últimas notícial sobre a modalidade que tem a taxa de juros mais baixa do mercado.
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/Selic.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Redução da selic</h5>
                    <p class="card-text">Redução da taxa Selic deve incentivar investimentos, avaliam especialistas.</p>
                    <a href="https://brasil61.com/n/reducao-da-taxa-selic-deve-incentivar-investimentos-avaliam-especialistas-bras2310036" target="_blank" class="btn btn-primary">Ver matéria</a>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/reducao.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nova taxa de juros</h5>
                    <p class="card-text">Conselho reduz novamente taxa máxima de juros do consignado para 1,84%.</p>
                    <a href="https://agenciagov.ebc.com.br/noticias/202310/conselho-reduz-novamente-taxa-maxima-de-juros-do-consignado-para-1-84" target="_blank" class="btn btn-primary">Ver matéria</a>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/loas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Empréstimo BPC/LOAS</h5>
                    <p class="card-text">INSS divulga regras para requerimento de empréstimo do BPC/LOAS.</p>
                    <a href="https://previdenciarista.com/blog/inss-publica-regras-para-emprestimo-consignado-do-bpc/" target="_blank" class="btn btn-primary">Ver matéria</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/salario.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Novo salário 2024</h5>
                    <p class="card-text">Salário mínimo 2024: Novo valor foi divulgado? Quando começa a ser pago?</p>
                    <a href="https://economia.uol.com.br/noticias/redacao/2023/10/17/salario-minimo-2024-novo-valor-foi-divulgado-quando-comeca-a-ser-pago.htm" target="_blank" class="btn btn-primary">Ver matéria</a>
                </div>
            </div>
        </div>
    </div>
</div>