@page
@model webpagelm.Pages.EmpresaModel
@{
}

<div class="row">
    <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
        <h4>
            Libera Mais empréstimo consignado
        </h4>
    </div>
</div>
<br />
<div>
    <h6>
        Fundada em 2017, a LIBERA MAIS EMPRÉSTIMO CONSIGNADO é uma empresa comprometida em atender às necessidades financeiras dos beneficiários do INSS com transparência e dedicação.
    </h6>
    <h6>
        Desde o início de nossa jornada, estabelecemos como nosso principal público-alvo os beneficiários do INSS, reconhecendo a importância de oferecer soluções financeiras acessíveis a quem tanto contribuiu para a sociedade.
    </h6>
</div>
<div>
    <div class="row mt-4">
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/missao.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        Nossa missão é simplificar o processo de obtenção de empréstimos consignados, garantindo que nossos clientes tenham acesso a recursos financeiros de forma conveniente e descomplicada.
                    </p>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/visao.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Nossa visão é ser uma referência em transparência e confiabilidade para beneficiários do INSS. Buscamos promover a estabilidade financeira de nossos clientes, simplificando o acesso a recursos financeiros de forma responsável.</p>
                </div>
            </div>
        </div>
        <div class="col mt-4">
            <div class="card" style="width: 18rem;">
                <img src="~/img/valores.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Valorizamos acima de tudo a transparência em nossas operações, buscamos conquistar amizades duradouras com nossos clientes, proporcionando soluções financeiras acessíveis, baseadas em confiança e integridade.</p>
                </div>
            </div>
        </div>

    </div>
    <h5>
    </h5>
</div>
<br />
<div>
    <h6>
        Nossa equipe dedicada é composta por profissionais experientes no setor de empréstimos consignados e comprometidos em fornecer um serviço excepcional.
    </h6>
    <h6>
        Estamos constantemente atualizados com as regulamentações do setor para garantir que nossos clientes desfrutem de um ambiente seguro e confiável ao solicitar empréstimos.

    </h6>
    <h6>
        A LIBERA MAIS EMPRÉSTIMO CONSIGNADO é muito mais do que uma empresa de empréstimos, somos um aliado confiável na busca pela estabilidade financeira.
    </h6>
    <h6>
        Agradecemos a confiança de nossos clientes e esperamos continuar a servi-los com dedicação e transparência.
    </h6>


</div>

