@page
@model webpagelm.Pages.EmpresaModel
@{
}

<div class="row">
    <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
        <h4>
            Libera Mais empréstimo consignado
        </h4>
    </div>
</div>