@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="row">
    <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
        <h4>
            Libera Mais
        </h4>
    </div>

</div>

<div class="row mt-4">
    <div class="col-5">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/biometria.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/solicite.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Sonhos.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="mt-4" style="border-top:solid 1px #fcb51c">
    <br />
    <h4>
        O que é o empréstimo consgignado para aposentados e pensionistas INSS?
    </h4>

    <p class="small">
        <h6>
            O empréstimo consignado INSS é uma modalidade de crédito disponível para aposentados e pensionistas do Instituto Nacional do Seguro Social (INSS) no Brasil. Ele funciona de forma segura e conveniente da seguinte maneira:
        </h6>
        <br />
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <strong> Desconto em folha de pagamento</strong>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        A principal característica do empréstimo consignado INSS é que as parcelas do empréstimo são descontadas diretamente da folha de pagamento do beneficiário.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <strong>Taxas de juros mais baixas</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O empréstimo consignado geralmente oferece taxas de juros mais baixas em comparação com outras formas de crédito, como empréstimos pessoais ou cartões de crédito.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <strong>Limites pré-estabelecidos</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O valor do empréstimo é limitado a um percentual do benefício mensal do segurado, geralmente até 35% do valor líquido da aposentadoria ou pensão. Isso ajuda a evitar que o segurado se endivide excessivamente.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                        <strong>Prazos de pagamento flexíveis</strong>
                    </button>
                </h2>
                <div id="collapsefour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        O empréstimo consignado INSS oferece prazos de pagamento mais longos, o que pode resultar em parcelas mensais mais baixas, tornando o pagamento mais acessível.
                    </div>
                </div>
            </div>
        </div>
</div>
<br />
<div class="col-sm-12" style="border-bottom:solid 1px #fcb51c"></div>
<br />

<div class="row mt-6">
    <div class="col sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/Novo.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Empréstimo novo</h5>
                        <p class="card-text">Contrate seu empréstimo com as menores taxas do mercado sem sair de casa e receba o dinehro em até 24 horas.</p>
                        <p class="card-text"><small class="text-body-secondary">*Crédito sujeito a análise</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/refinanciamento.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Refinanciamento</h5>
                        <p class="card-text">Com o refinanciamento você renegocia seu contrato, voltando ao prazo inicial e assim pegando mais dinheiro.</p>
                        <p class="card-text"><small class="text-body-secondary">*Consulte disponibilidade.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-6">
    <div class="col sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/portabilidade.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Portabilidade</h5>
                        <p class="card-text">Na portabilidade você pode trocar de banco, reduzindo as taxas de juros e você ainda pega o troco da operação.</p>
                        <p class="card-text"><small class="text-body-secondary">*Crédito sujeito a análise.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col sm-6">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="~/img/cartao.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Cartão de crédito consignado</h5>
                        <p class="card-text">Com os cartões consignado e benefício do INSS, você pega até 70% do limite total em dinheiro e paga em até 84 vezes.</p>
                        <p class="card-text"><small class="text-body-secondary">*Crédito sujeito a análise.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<br />
<div class="col-sm-12" style="border-bottom:solid 1px #fcb51c"></div>
<br />
<div class="row">
    <h6>
        Informações
    </h6>
    <br />
    <p class="small">
        Correspondentes bancários são empresas contratadas por instituições financeiras e demais instituições autorizadas pelo Banco Central do Brasil para a prestação de serviços de atendimento aos clientes e usuários dessas instituições. Seguimos rigorosamente a resolução 3.954/11 do Banco Central do Brasil.
    </p>
</div>
<div class="row sm-12">
    <h6>
        Prazo de pagamento
    </h6>
    <br />
    <p class="small">
        O prazo para pagamento do consignado INSS e de até 84x, sujeito a análise da instituição.
    </p>

</div>
<div class="row sm-12">
    <h6>
        Exemplo representativo
    </h6>
    <br />
    <p class="small">
        Valor do empréstimo solicitado: R$ 1.000,00 | Prazo: 84x | Taxa do contrato: 1,91% ao mês | Taxa anual do contrato: 22,92% ao ano | Valor da parcela mensal: R$ 25,00.
    </p>
    <p class="small">
        *Exemplo acima apenas representativo, os valores podem alterar de acordo com o dia da solicitação do empréstimo.
    </p>
    <p class="small">
        *Crédito sujeito a análise.
    </p>
</div>



