@page
@model webpagelm.Pages.SocialModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
            <h4>
                Ajudar faz bem
            </h4>
        </div>
        <div class="mt-4">
            <p>
                Pensar no próximo é uma ação muito importante, por isso, a Libera Mais faz seu papel social, ajudando mensalmente com 2% do seu faturamento liquido destinados a ações sociais, ajudando com doações
                em dinehiro, remédios ou cestas básicas.
            </p>
            <p>
                Se cada um de nós fizermos um pouquinho, podemos ajudar muitas instituições e dar uma qualidade de vida melhor para alguém.
            </p>
        </div>
    </div>
    @if (ViewData["MsgSucesso"] is null)
    {
        <form method="post">
            <div class="row mt-4">
                <div class="col-sm-6">
                    <p style="font-weight:bold">
                        Você pode indicar abaixo uma instituição para receber nossa ajuda:
                    </p>
                    <div class="mb-3 mt-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome da instituição</label>
                        <input asp-for="Ajuda.Instituicao" type="text" class="form-control" id="instituicao" placeholder="Digite aqui o nome da instituição">
                        <span class="text-danger" asp-validation-for="Ajuda.Instituicao"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Telefone da instituição</label>
                        <input asp-for="Ajuda.Tel" type="tel" class="form-control" id="fone" placeholder="Digite o telefone de contato da instituição">
                        <span class="text-danger" asp-validation-for="Ajuda.Tel"></span>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                        <textarea asp-for="Ajuda.Mensagem" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="Ajuda.Mensagem"></span>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
                <div style="margin-top: 20px;">
                    <h4 class="mt-4">
                        Nos ajude a ajudar!
                    </h4>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12" style="color:green; font-size:1.2rem">
                @ViewData["MsgSucesso"]
            </div>
            <div class="col-sm-12 mt-4">
                <a href="Social" class="btn btn-primary" target="_self">Indicar outra instituição</a>
            </div>
        </div>

    }

</div>