@page
@model webpagelm.Pages.SocialModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="border-bottom:solid 1px #fcb51c">
            <h4>
                Ajudar faz bem
            </h4>
        </div>
        <div class="mt-4">
            <p>
                Pensar no próximo é uma ação muito importante, por isso, a Libera Mais faz seu papel social, ajudando mensalmente com 2% do seu faturamento liquido destinados a ações sociais, ajudando com doações
                em dinehiro, remédios ou cestas básicas.
            </p>
            <p>
                Se cada um de nós fizermos um pouquinho, podemos ajudar muitas instituições e dar uma qualidade de vida melhor para alguém.
            </p>
            <h6>
                Você pode indicar abaixo uma instituição para receber nossa ajuda:
            </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="mb-3 mt-3">
                <label for="exampleFormControlInput1" class="form-label">Nome da instituição</label>
                <input type="text" class="form-control" id="instituicao" placeholder="Digite aqui o nome da instituição">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Telefone da instituição</label>
                <input type="tel" class="form-control" id="fone" placeholder="Digite o telefone de contato da instituição">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mensagem</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
        <div style="margin-top: 20px;">
            <h4>
                Nos ajude a ajudar!
            </h4>
        </div>
    </div>
</div>